.OcpPerformanceTable {
  text-align: center;
  background-color: white !important;
}

.OcpPerformanceTable-logo {
  height: 40vmin;
  pointer-events: none; 
  max-height: 100px;  
}


@media (prefers-reduced-motion: no-preference) {
  .OcpPerformanceTable-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.OcpPerformanceTable-header {
  background-color: #282c34;
  min-height: 10vh;
  padding-bottom: 20px;
  z-index: -1;
  display: flexbox;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.OcpPerformanceTable-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
