#filter-toolbar {
    display: flex;
    .react-date-picker {
        .react-date-picker__wrapper {
            padding: 4px;
            width: 10vw;
            border: 1px solid #f0f0f0;
            border-bottom-color: #8a8d90;
        }
    }
    .to-text {
        padding: 5px 0;
    }
    #comparison-switch {
        margin-left: auto;
        align-content: center;
    }
}