imagePullSecrets: []
nameOverride: ""
fullnameOverride: "dashboard"
replicaCount: 1

ingress:
  enabled: true
  hostName: dashboard
  baseDomain: apps.sailplane.perf.lab.eng.rdu2.redhat.com

elasticsearch:
  # Use existing secret
  existingSecretName: "dashboard-secret"

frontend:
  image:
    repository: quay.io/mleader/frontend
    tag: latest
  resources: {}


backend:
  image:
    repository: quay.io/mleader/backend
    tag: latest
  resources: {}
  securityContext: {}

podAnnotations:
  alpha.image.policy.openshift.io/resolve-names: '*'

podSecurityContext: {}
