.pf-v5-c-accordion__expandable-content-body {
    display: block;
}
.metadata-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 1vw;
    .metadata-card {
        flex: 1; /* additionally, equal width */  
        padding: 1em;
        margin-right: 1.5vw;
    }
}
