name: Cypress end-to-end tests
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  e2e-tests:
    runs-on: ubuntu-24.04
    env:
      POD_NAME: e2e
    steps:
      - name: checkout
        uses: actions/checkout@v4   
      - name: build frontend 
        run: podman build -t frontend -f frontend/frontend.containerfile ./frontend        
      - name: run backend
        run: ./backend/tests/e2e_backend.sh
      - name: run frontend
        run: podman run --pod=${POD_NAME} -d --name=front frontend
      - name: build cypress end-to-end tests
        run: podman build -t e2e-frontend -f frontend/e2e_frontend.containerfile ./frontend
      - name: run cypress e2e
        run: podman run --pod=${POD_NAME} --name=cypress-e2e e2e-frontend
      - name: copy e2e screenshots from container
        run: podman cp cypress-e2e:/usr/src/cpt-dashboard/cypress/screenshots $(pwd)/frontend/cypress/screenshots
      - name: save cypress test screenshots
        uses: actions/upload-artifact@v4
        with:
          name: e2e-images
          if-no-files-found: error
          path: ./frontend/cypress/screenshots/ocp.cy.js        
