name: Check poetry
on:
  pull_request:

jobs:
  build:
    name: Check poetry configuration
    runs-on: ubuntu-latest

    steps:
        - uses: actions/checkout@v4
        - uses: actions/setup-python@v4
          with:
            python-version: "3.9"
        - uses: Gr1N/setup-poetry@v9
        - name: verify poetry instalation
          run: poetry --version
          working-directory: ./backend
        - name: verify poetry configuration
          run: poetry check
          working-directory: ./backend
